<!--extends html header-->
{% extends 'header.html' %}
<!--load project title in url-->
{% block title %}AccidentRecord{% endblock %}
<!--load html contents-->
{% block content %}


<!doctype html>
<html lang="en">

<div class="container-fluid backimg">
    <!-- <div>
            <img src="/Record/utils/logo.png" style="height: 100%; width: 100%;"/>
        </div> -->
    <div>
        <img class="w-5 h-5 logoimg"
            src="https://www.kapurthalapolice.gov.in/uploads/logo-210102175359-punjab-police-logo.png">
    </div>
</div>

<body>
    <div class="container-fluid p-0 mx-auto">

        <form class="form-horizontal p-0" id="form1" enctype="multipart/form-data" method="post" action="/formdata/">

            {% csrf_token %}


            <div class="container-fluid p-1" style="align-content: center;margin: 0 auto" id="div-id-name">

                <div>
                    <h1 class="text-white roadAccidentHeading"
                        style="font-size:200%;width: 100%;text-align:  center;opacity: 1; background-color: #0099cc; text-emphasis-color: #56E7FF; margin: 0;padding-top:10px; padding-bottom: 10px;">
                        <b>ROAD ACCIDENT RECORDING FORM </b>
                    </h1>
                </div>
                <div>
                    <h1
                        style="font-size:150%;width: 100%;text-align:  left;opacity: 1; background-color: #c0c0c0;  color: #0099cc;padding-top: 10px;padding-bottom: 10px">
                        &emsp;A. Accident Details</h1>
                </div>

                <!--Fire no-->
                <div style="padding: 20px">
                    <div class="cont1 row">
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>1. FIR NO.</b></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="fireno">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>1. IPC/CrPC Sections.</b></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="ipc">
                                </div>
                            </div>
                        </div>
                    </div>




                    <!--date of fire-->
                    <div class="cont1 row">
                        <!--date of ipc-->
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>3. Date of Offence </b></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="date" name="Dateoffence" value=""
                                        onclick="myFunction()">
                                </div>
                            </div>
                        </div>


                        <script>
                            function myFunction() {
                                var x = document.getElementById("Date").value;
                                document.getElementById("demo").innerHTML = x;
                            }
                        </script>



                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>3. Date of FIR/CrPC/DDR</b></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="date" name="Dateoffence" value=""
                                        onclick="myFunction()">
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        function myFunction() {
                            var x = document.getElementById("Date").value;
                            document.getElementById("demo").innerHTML = x;
                        }
                    </script>



                    <div class="cont1 row">
                        <!--date of ipc-->
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>5. Day</b></label>
                                <div class="col-sm-7">
                                    <select name="PropertyDamage" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="monday">Monday</option>
                                        <option value="tuesday">Tuesday</option>
                                        <option value="wednessday">Wednessday</option>
                                        <option value="throusday">Throusday</option>
                                        <option value="friday">Friday</option>
                                        <option value="saturday">Saturday</option>
                                        <option value="sunday">Sunday</option>
                                    </select>
                                </div>
                            </div>
                        </div>



                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>2. Time of Offence</b></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="time" name="Timeoffence" id="timepicker1"
                                        placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>



                    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

                    <!-- Updated JavaScript url -->
                    <script src="dist/jquery-clockpicker.js"></script>


                    <script>
                        $(function () {
                            $('#timepicker1').clockpicker({
                                default: 'now',
                                donetext: 'Done',
                                autoclose: true
                            });
                        });
                    </script>





                    <div class="cont1 row">
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>6. District</b></label>
                                <div class="col-sm-7">
                                    <select name="State" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="Andaman And Nicobar Islands">Amritsar</option>
                                        <option value="AndhraPradesh">Barnala</option>
                                        <option value="ArunachalPradesh">Bathinda</option>
                                        <option value="Assam">Faridkot</option>
                                        <option value="Bihar">Fatehgarh Sahib</option>
                                        <option value="Chandigarh">Fazilka</option>
                                        <option value="Chhattisgarh">Ferozepur</option>
                                        <option value="Dadra And Nagar Haveli">Gurdaspur</option>
                                        <option value="Daman And Diu">Hoshiarpur</option>
                                        <option value="Delhi">Jalandhar</option>
                                        <option value="Goa">Kapurthala</option>
                                        <option value="Gujarat">Ludhiana</option>
                                        <option value="Haryana">Mansa</option>
                                        <option value="Himachal Pradesh">Moga</option>
                                        <option value="Jammu And Kashmir">Muktsar</option>
                                        <option value="Jharkhand">Nawanshahr (Shahid Bhagat Singh Nagar)</option>
                                        <option value="Karnataka">Pathankot</option>
                                        <option value="Kerala">Patiala</option>
                                        <option value="Lakshadweep">Rupnagar</option>
                                        <option value="Madhya Pradesh">Sahibzada Ajit Singh Nagar (Mohali)</option>
                                        <option value="Maharashtra">Sangrur</option>
                                        <option value="Manipur">Tarn Taran</option>

                                    </select>
                                    <!-- <input type="text" name="District" class="form-control"> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>5. Police Station</b></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="PoliceStation">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>7. State</b></label>
                                <div class="col-sm-7">
                                    <select name="State" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="Andaman And Nicobar Islands">Andaman And Nicobar Islands
                                        </option>
                                        <option value="AndhraPradesh">Andhra Pradesh</option>
                                        <option value="ArunachalPradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadra And Nagar Haveli">Dadra And Nagar Haveli</option>
                                        <option value="Daman And Diu">Daman And Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu And Kashmir">Jammu And Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                    </div>




                    <div class="cont1 row">
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>5. First Vehical</b></label>
                                <div class="col-sm-7">
                                    <select name="PropertyDamage" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="twowheeler">Two wheeler</option>
                                        <option value="threewheelerp">Three Wheeler(Passenger)</option>
                                        <option value="threewheelerg">Three Wheeler(Goods)</option>
                                        <option value="car">Car/Jeep/Van/Taxi</option>
                                        <option value="buss">Buss</option>
                                        <option value="commercialvehical">Light Commercial Vehicle</option>
                                        <option value="multivehical">Multi Axle Vehicle</option>
                                        <option value="tractor">Tractor/Trolley</option>
                                        <option value="machinery">Construction Machinery</option>
                                        <option value="cycle">Cyclist</option>
                                        <option value="animaldriven">Animal Driven</option>
                                        <option value="ricksaw">Cycle Ricksaw</option>
                                        <option value="singlevehical">Single Vehical</option>
                                        <option value="others">Others</option>
                                        <option value="unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="cont1 row">
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <label class="control-label col-sm-3"><b>10. No. of Fatalties</b></label>
                                <div class="col-sm-1">
                                    <input type="number" name="Nooffatalties" class="form-control">
                                </div>

                                <label class="control-label col-sm-3"><b>No. of Persons Serious Injured</b></label>
                                <div class="col-sm-1">
                                    <input type="number" name="Noofpersonsgrievouslyinjured" class="form-control">
                                </div>

                                <label class="control-label col-sm-3"><b>No. of Persons Minor Injured</b></label>
                                <div class="col-sm-1">
                                    <input type="number" name="Noofpersonsminorinjured" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>





                    <div class="cont1 row">
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>5. First Vehical</b></label>
                                <div class="col-sm-7">
                                    <select name="PropertyDamage" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="twowheeler2">Two wheeler</option>
                                        <option value="threewheelerp2">Three Wheeler(Passenger)</option>
                                        <option value="threewheelerg2">Three Wheeler(Goods)</option>
                                        <option value="car2">Car/Jeep/Van/Taxi</option>
                                        <option value="buss2">Buss</option>
                                        <option value="commercialvehical2">Light Commercial Vehicle</option>
                                        <option value="multivehical2">Multi Axle Vehicle</option>
                                        <option value="tractor2">Tractor/Trolley</option>
                                        <option value="machinery2">Construction Machinery</option>
                                        <option value="cycle2">Cyclist</option>
                                        <option value="animaldriven2">Animal Driven</option>
                                        <option value="ricksaw2">Cycle Ricksaw</option>
                                        <option value="singlevehical2">Single Vehical</option>
                                        <option value="others2">Others</option>
                                        <option value="unknown2">Unknown</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="cont1 row">
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <label class="control-label col-sm-3"><b>10. No. of Fatalties</b></label>
                                <div class="col-sm-1">
                                    <input type="number" name="Nooffatalties" class="form-control">
                                </div>

                                <label class="control-label col-sm-3"><b>No. of Persons Serious Injured</b></label>
                                <div class="col-sm-1">
                                    <input type="number" name="Noofpersonsgrievouslyinjured" class="form-control">
                                </div>

                                <label class="control-label col-sm-3"><b>No. of Persons Minor Injured</b></label>
                                <div class="col-sm-1">
                                    <input type="number" name="Noofpersonsminorinjured" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>






                    <div class="cont1 row">
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>15. Maneuver type as per FIR</b></label>
                                <div class="col-sm-7">
                                    <select name="Weather" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="overspeed">Overspeed</option>
                                        <option value="roughdriving">Rough Driving</option>
                                        <option value="wrongparking">Wrong Parking</option>
                                        <option value="wrongside">Approching From Wrong Side</option>
                                        <option value="redlight">Jumping Red Light</option>
                                        <option value="fallenbuss">Fallen Off The Buss/Tractor</option>
                                        <option value="fallenauto">Fallen Off The Auto/Ricksaw</option>
                                        <option value="highlight">Due to High Beam Lights</option>
                                        <option value="potholes">Due to Potholes</option>
                                        <option value="animal">Due to Animal</option>
                                        <option value="other">Other</option>
                                        <option value="unknown">Unknown(Only if nothing mentioned in the FIR)
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>5. Place/Location of Occurrence</b></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="PoliceStation">
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="cont1 row">
                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>13. Type of Collision</b></label>
                                <div class="col-sm-7">
                                    <select name="Weather" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="headon">Head On</option>
                                        <option value="hitfromback">Hit From Back</option>
                                        <option value="hitfromside">Hit from Side</option>
                                        <option value="hitpedestrain">Hit Pedstrain</option>
                                        <option value="overturning">Overturning</option>
                                        <option value="skidding">Skidding</option>
                                        <option value="hitfixed">Hit Fixed Object</option>
                                        <option value="hitanimal">Hit Animal</option>
                                        <option value="runoffroad">Run Off Road</option>
                                        <option value="hitparked">Hit Parked Vehical</option>
                                        <option value="other">Other</option>
                                        <option value="unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 col-lg-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>14. Hit and Run</b></label>
                                <div class="col-sm-7">
                                    <select name="HitandRun" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>



                <div>
                    <h1
                        style="font-size:150%;width: 100%;text-align:  left;opacity: 1; background-color: #c0c0c0;  color: #0099cc;padding-top: 10px;padding-bottom: 10px">
                        &emsp;B. Road Related Details</h1>
                </div>
                <div style="padding: 20px">
                    <div class="cont1 row">
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>16. Road Name</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="RoadName" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>17. Road Number</b></label>
                                <div class="col-sm-7">
                                    <input type="number" name="RoadNumber" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>18. Landmark</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>14. Road Category</b></label>
                                <div class="col-sm-7">
                                    <select name="HitandRun" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="nh">NH</option>
                                        <option value="sh">SH</option>
                                        <option value="mdr">MDR</option>
                                        <option value="odr">ODR</option>
                                        <option value="pmgsy">Village Road/Link Road (PMGSY)</option>
                                        <option value="municipality">Municipality Road</option>
                                        <option value="expressway">Expressway</option>
                                        <option value="unknown">Unknown (Only if Location is not available)
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>18. Road Type</b></label>
                                <div class="col-sm-7">
                                    <select name="HitandRun" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="dividedroad">Divided Road</option>
                                        <option value="undividedroad">Undivided Road</option>
                                        <option value="unknown">Unknown (Only if Location is not available)
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>18.Intersection/Mid Block</b></label>
                                <div class="col-sm-7">
                                    <select name="HitandRun" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="intersection">Intersection</option>
                                        <option value="midblock">Mid Block</option>
                                        <option value="unknown">Unknown (Only if Location is not available)
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>19. Junction Type</b></label>
                                <div class="col-sm-7">
                                    <select name="HitandRun" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="arm">Four Arm Intersection</option>
                                        <option value="tjunction">T-Junction</option>
                                        <option value="yjunction">y-Junction</option>
                                        <option value="staggered">Staggered Juntion</option>
                                        <option value="vehicular">Vehicular</option>
                                        <option value="pedestrain">Pedestrian Underpass</option>
                                        <option value="rotary">Roundabout/Rotary</option>
                                        <option value="other">Other</option>
                                        <option value="not">Not Applicable (If Mid Block)</option>
                                        <option value="unknown">Unknown (Only if Location is not available)
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>18. Rural/Urban</b></label>
                                <div class="col-sm-7">
                                    <select name="HitandRun" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="rural">Rural</option>
                                        <option value="urban">Urban</option>
                                        <option value="unknown">Unknown (Only if Location is not available)
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>18.Medical Response</b></label>
                                <div class="col-sm-7">
                                    <select name="HitandRun" class="form-control">
                                        <option value="" disabled selected>Select Option</option>
                                        <option value="emergency">Emergency Medical Service</option>
                                        <option value="private">Private Vehicle</option>
                                        <option value="other">Other (Police Vehicle)</option>
                                        <option value="unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="cont1 row">
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>16. Longitude</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="RoadName" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>16. Latitude</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="RoadName" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div>
                    <h1
                        style="font-size:150%;width: 100%;text-align:  left;opacity: 1; background-color: #c0c0c0;  color: #0099cc;padding-top: 10px;padding-bottom: 10px">
                        &emsp;C. Persons Details</h1>
                </div>
                <div style="padding: 20px">
                    <div class="cont1 row">
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <label class="control-label col-sm-3"><b>Total Fatalities</b></label>
                                <div class="col-sm-1">
                                    <input type="number" name="Nooffatalties" class="form-control">
                                </div>

                                <label class="control-label col-sm-3"><b>Total Serious Injuries</b></label>
                                <div class="col-sm-1">
                                    <input type="number" name="Noofpersonsgrievouslyinjured" class="form-control">
                                </div>

                                <label class="control-label col-sm-3"><b>Total Minor Injuries</b></label>
                                <div class="col-sm-1">
                                    <input type="number" name="Noofpersonsminorinjured" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div style="padding: 20px">
                    <div class="cont1 row">
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>16. Male Fatalities</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="RoadName" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>17. Female
                                        Fatalities</b></label>
                                <div class="col-sm-7">
                                    <input type="number" name="RoadNumber" class="form-control">
                                </div>
                            </div>
                        </div>



                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>Less than 18 years Male</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>Less than 18 years Female</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(18-25) Male</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(18-25) Female</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(25-45) Male</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(25-45) Female
                                        Female</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(45-60) Male</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(45-60) Female
                                        Female</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(60 and above) Male</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(60 and above) Female</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(Age not known) Male</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label class="control-label col-sm-5"><b>(Age not known) Female</b></label>
                                <div class="col-sm-7">
                                    <input type="text" name="landmark" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                </table>


                <div style="padding: 1px">
                    <div class="cont1 table-responsive">
                        <div class="row">
                            <label class="control-label col-sm-5">&emsp;<b>18.Remark</b></label>
                            <div class="col-sm-0"><textarea class="border ml-5" rows="6" name="remarks" cols="153"
                                    placeholder="REMARKS" style="font-size: 12pt;border:solid  #fff"></textarea>
                            </div>
                        </div>
                    </div>
                </div>




                <div>
                    <h1
                        style="font-size:150%;width: 100%;text-align:  left;opacity: 1; background-color: #c0c0c0;  color: #0099cc;padding-top: 10px;padding-bottom: 10px">
                        &emsp;D. Upload Files</h1>
                </div>


                <div style="padding: 20px">
                    <div class="cont1 table-responsive">
                        <table class="table">
                            <tr>
                                <th>Upload Photos</th>
                                <th><input type="file" name="file1" id="file1" multiple
                                        onchange="javascript:updateList1()" accept="image/*" /></th>
                                <th>Upload Videos</th>
                                <th><input type="file" name="file2" id="file2" multiple
                                        onchange="javascript:updateList2()" accept="video/*" /></th>
                            </tr>

                            <tr>
                                <td>Selected Files</td>
                                <td>
                                    <div style="margin-left: 13px; margin-top: 0px" id="fileList1"></div>
                                </td>
                                <td>Selected Files</td>
                                <td>
                                    <div style="margin-left: 13px; padding-top: 0px" id="fileList2"></div>
                                </td>
                            </tr>


                        </table>
                    </div>


                    <div class="form-group col-sm-12 col-lg-6">
                        <div class="row">
                            <label class="control-label col-sm-5"><b>Signature:</b></label>
                            <div class="col-sm-7">
                                <input type="text" name="landmark" placeholder="Enter your name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>





                <script>
                    updateList1 = function () {
                        var input = document.getElementById('file1');
                        var output = document.getElementById('fileList1');

                        output.innerHTML = '<ul>';
                        for (var i = 0; i < input.files.length; ++i) {
                            output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
                        }
                        output.innerHTML += '</ul>';
                    }

                    updateList2 = function () {
                        var input = document.getElementById('file2');
                        var output = document.getElementById('fileList2');

                        output.innerHTML = '<ul>';
                        for (var i = 0; i < input.files.length; ++i) {
                            output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
                        }
                        output.innerHTML += '</ul>';
                    }
                </script>


                <div class="row mx-auto">
                    <div class="col-sm-4 col-lg-4 mb-1">
                        <button class="btn-info btn btn-block" type="submit" name="submit">Submit Data</button>
                    </div>

                    <div class="col-sm-4 col-lg-4 mb-1">
                        <button class="btn-info btn btn-block" id="submitButton" type="submit">Clear Form Data</button>
                    </div>

                    <div class="col-sm-4 col-lg-4">
                        <button id="print" class="btn-info btn btn-block"
                                onclick="javascript:printlayer('div-id-name')">Print Data</button>
                        <div>
                            <script>
                                function printlayer(layer) {
                                    var generator = window.open(",'name,");
                                    var layetext = document.getElementById(layer);
                                    generator.document.write(layetext.innerHTML.replace("Print Me"));

                                    generator.document.close();
                                    generator.print();
                                    generator.close();
                                }
                            </script>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
    </div>


    </form><br><br><br>






    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVD1C8a29ZMRBRzgHCrEKBjOSvV2UFakw&libraries=places&callback=initMap"
        async defer></script>
    <script type="text/javascript">var mbsd_sane_enter_key = function () {
            var input_types;
            input_types = "input, select, button, textarea,checkmark,text";

            return $("body").on("keydown", input_types, function (e) {
                var enter_key, form, input_array, move_direction, move_to, new_index, self, tab_index, tab_key;
                enter_key = 13;
                tab_key = 9;

                if (e.keyCode === tab_key || e.keyCode === enter_key) {
                    self = $(this);

                    // some controls should react as designed when pressing enter
                    if (e.keyCode === enter_key && self.prop('type') === "submit") {
                        return true;
                    }

                    form = self.parents('form:eq(0)');

                    // Sort by tab indexes if they exist
                    tab_index = parseInt(self.attr('tabindex'));
                    if (tab_index) {
                        input_array = form.find("[tabindex]").filter(':visible').sort(function (a, b) {
                            return parseInt($(a).attr('tabindex')) - parseInt($(b).attr('tabindex'));
                        });
                    } else {
                        input_array = form.find(input_types).filter(':visible');
                    }

                    // reverse the direction if using shift
                    move_direction = e.shiftKey ? -1 : 1;
                    new_index = input_array.index(this) + move_direction;

                    // wrap around the controls
                    if (new_index === input_array.length) {
                        new_index = 0;
                    } else if (new_index === -1) {
                        new_index = input_array.length - 1;
                    }

                    move_to = input_array.eq(new_index);
                    move_to.focus();
                    move_to.select();
                    return false;
                }
            });
        };

        $(window).on('ready page:load', function () {
            mbsd_sane_enter_key();
        })</script>

    </div>
</body>


</html>


{% endblock %}